body {
    background-image: radial-gradient(#00d2e9ff, #045962ff);
}

.component {
    background: radial-gradient(#e9f1f7, #c2c3d3 , #9a9aa8);
    /* border: .15em solid grey;
    margin: 25%;
    border-radius: 15px;
    padding-left: 12.5%; */
}
button {
    background: radial-gradient(circle,rgb(234, 215, 158) 10%,rgb(248, 220, 135) 30%,rgb(223, 178, 38));
    border-radius: 6px;
    padding: .75em 1.25em;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    letter-spacing: .05em;
    margin: 2em 3em;
}

button:active {
    background: radial-gradient(circle, rgb(156, 142, 80) 10%, rgb(163, 139, 73), rgb(114, 99, 35));
}

button:hover {
    border: black solid .16em;
    position: relative;
    left: -.04em;
    top: -.04em;
}

.alienMessage {
    color: red;
}