<head>
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="./user-profile.component.css">
</head>

<body>
  <div class="component">
    <h1>Mike Smith</h1>

    <div class="container">
      <div style="width: 50%;  float: left; "> Personal Info</div>
      <div style="width: 50%;  float: left; "> Work Info</div>

      <hr />

      <span class="information-table table-overflow">
        <table>
          <tr>
            <td>Address:</td>
            <td>100 main st</td>
          </tr>
          <tr>
            <td></td>
            <td>NeverEvenNowhere, TX 99887</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>204-444-2321 <small>HOME</small></td>
          </tr>
          <tr>
            <td></td>
            <td>209-867-5309 <small>CELL</small></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="table-overflow">mike123@mail.com</td>
          </tr>
        </table>

      </span>

      <span class="information-table table-overflow">
        <table>
          <tr>
            <td>Address:</td>
            <td>100 main st</td>
          </tr>
          <tr>
            <td></td>
            <td>NeverEvenNowhere, TX 99887</td>
          </tr>
          <tr>
            <td>Work Phone:</td>
            <td>204-888-2321 ext. 26</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>mike123.work@mail.com</td>
          </tr>
        </table>
      </span>
      <div class="center">
      <button type="button">Edit info</button>
      </div>
    </div>
  </div>
</body>
