<body>
  <div *ngIf="forNav=='Profile'">
    <div *ngFor="let json of data">

      <h1>{{json.firstName}}</h1>
      <br>
      <div class="container">
        <div style="width: 50%;  float: left; "> Personal Info</div>
        <div style="width: 50%;  float: left; "> Work Phone</div>

        <hr />
        <span class="information-table">
          <table>
            <tr>
              <td>Address:</td>
              <td>{{json.mailingAddress}}</td>
            </tr>
            <tr>
              <td>Home Phone:</td>
              <td>{{ json.phone }}</td>
            </tr>
            <tr>
              <td>Mobile Phone:</td>
              <td>{{ json.phone }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td></td>

            </tr>
            <tr>
              <td></td>
              <td>{{ json.email }}</td>
            </tr>
          </table>

        </span>

        <span class="information-table">
          <table>
            <tr>
              <td>Address:</td>
              <td>{{json.workAddress}}</td>
            </tr>
            <tr>
              <td>Work Phone:</td>
              <td>{{ json.workPhone }}</td>

            </tr>
            <tr>
              <td>Mobile Phone:</td>
              <td>{{ json.phone }}</td>
            </tr>
            <tr>
              <td>Work Email:</td>
              <td>{{ json.secondaryEmail }}</td>
            </tr>
          </table>
        </span>
      </div>
    </div>
    <div class="center">
      <button type="button" (click)="nav('Edit Info')" >Edit info</button>
    </div>
  </div>
  <div *ngIf="forNav=='Edit Info'">
    <div *ngIf="auth.user$ | async as user">

    <app-user-change-info [userId]=userId></app-user-change-info></div>
  </div>
</body>
