<div *ngIf="data else CreateProfile">
    <div *ngIf="forNav=='Profile'">
      <div *ngFor="let json of data">

        <h1>{{json.firstName}} {{json.lastName}}</h1>
        <br>
        <div class="container">
          <div style="width: 50%;  float: left; "> Personal Info</div>
          <div style="width: 50%;  float: left; "> Work Info</div>

          <hr />
          <span class="information-table">
            <table>
              <caption></caption>
              <tr>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{json.mailingAddress}} {{json.city}}, {{json.state}}</td>
              </tr>
              <tr>
                <td>Mobile Phone:</td>
                <td>{{ json.phone }}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{ json.email }}</td>

              </tr>

            </table>

          </span>

          <span class="information-table">
            <table>
              <caption></caption>
              <tr>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>Employer:</td>
                <td>{{json.employer}}</td>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{json.workAddress}}</td>
              </tr>
              <tr>
                <td>Work Phone:</td>
                <td>{{ json.workPhone }}</td>

              </tr>
              <tr>
                <td>Work Email:</td>
                <td>{{ json.secondaryEmail }}</td>
              </tr>
            </table>
          </span>
        </div>
      </div>
      <div class="center">
        <button class="btn btn-primary" type="button" (click)="nav('Edit Info')">Edit Profile</button>
      </div>
    </div>
  </div>

  <ng-template #CreateProfile>
    <div *ngIf="accountService.currentUser| async as user">
      <app-create-profile [User]=User></app-create-profile>
    </div>
    <!-- <div class="center">
      <button type="button" (click)="nav('Profile')">Go Back</button>
    </div> -->
  </ng-template>

  <div *ngIf="forNav=='Edit Info'">
    <div *ngIf="accountService.currentUser | async as user">
      <app-user-change-info [userId]=userId></app-user-change-info>
    </div>
    <div class="center">
      <button type="button" (click)="nav('Profile')">Go Back</button>
    </div>
  </div>