<h1 id="heading">Assets</h1>

<div class="tableContainer">

    <div class="stockTable">
            <h1>
                Stocks
            </h1>
            <table class="child">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Investment Buy Date</th>
                        <th>Amount Invested</th>
                        <th>Shares Owned</th>
                        <th>Price Per Share</th>
                        <th>Gain/Loss</th>
                        <th>Dollar Value</th>
                    </tr>
    
                </thead>
                <tbody>
                    <tr *ngFor="let stockData of listOfStockAssets">
                        <td>{{stockData.name}}</td>
                        <td>
                            {{stockData.initialInvestmentDate}}
                        </td>
                        <td>
                            {{stockData.currentInvestment}}
                        </td>
                        <td>
                            {{stockData.ownedShares}}
                        </td>
                        <td>
                            {{stockData.sharePrice}}
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            {{stockData.stockPrice}}
                        </td>
                </tbody>
            </table>
        </div>
        <div class="stockTable">
            <h2>
                Crypto
            </h2>
            <table class="child">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Investment Buy Date</th>
                        <th>Amount Invested</th>
                        <th>Shares Owned</th>
                        <th>Price Per Share</th>
                        <th>Gain/Loss</th>
                        <th>Dollar Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            
                        </td>
                        <td>
                           
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                           
                        </td>
                </tbody>
            </table>

        </div>
    </div>
    <div>
    </div>
