<!-- navigation bar start-->
<nav class="navbar navbar-expand-sm navbar-light">
  <img src="https://cdn.discordapp.com/attachments/938474742946598944/941734233435672616/MY_2_CENTS-removebg-preview.png" style="width:10%;"alt=" " class="rounded-circle">
  <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbar">
      <ul class="navbar-nav text-center">
          <li class="nav-item">
              <a class="nav-link" aria-current="page" (click)="nav('Dashboard')">Dashboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="user-profile" (click)="nav('My Profile')">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="nav('Transfer Money')">Transfer Money</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
      </ul>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input"
      type="checkbox" role="switch" id="flexSwitchCheckDefault"
      [checked]="darkMode$ | async"
      (change)="onToggle()"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault">Theme</label>
  </div>
</nav>
<!-- navigation bar end-->

<div class="container h-100" style="padding-top: 5%;">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="navname">
        <h1>{{NavName}}</h1>
      </div>
    </div>

    <ng-template #notAccountsBlock>
      <h1>Open a banking account to get started.</h1>
    </ng-template>

    <div *ngIf="NavName=='My Profile'">
      <div *ngIf="accountService.currentUser | async as user">
        <app-user-profile [User]=User [userId]=User.userId></app-user-profile>
      </div>
    </div>

    <div *ngIf="NavName=='Transfer Money'">
      <div *ngIf="accountService.currentUser | async as user">
        <app-transfer-money [(account)]=viewAccounts [userId]=User.userId></app-transfer-money>
      </div>
    </div>
  </div>
</div>

<ng-template #notAccountsBlock>
  <h1>Open a banking account to get started.</h1>
</ng-template>