<div class="component">
  <nav class="topnav">
    <a id="user-profile" routerlink="/user-profile" href="../user-profile/user-profile.component.html">My Profile</a>
    <a href="">Transfer Money</a>
    <a href="">Add New Account</a>
  </nav>
<header>
    <div class="crop">
        <h1>home page</h1>
    </div>
</header>


<div *ngIf="viewAccounts != []; then accountsBlock; else notAccountsBlock">
</div>
<ng-template #accountsBlock>
  <fieldset>
    <legend>Checking</legend>
  <div *ngFor = 'let Account of checkingArray'>
    <a routerLink="./track-income/{{ Account.AccountID }}">
      <button class="account-button">{{ Account.AccountID }}  {{ Account.TotalBalance }}</button>
    </a>
  </div>
</fieldset>
<fieldset>
  <legend>Savings</legend>
  <div *ngFor = 'let Account of savingArray'>
    <a routerLink="./track-income/{{ Account.AccountID }}">
      <button class="account-button">{{ Account.AccountID }}  {{ Account.TotalBalance }}</button>
    </a>
  </div>
</fieldset>
<fieldset>
  <legend>Investment</legend>
  <div *ngFor = 'let Account of investmentArray'>
    <a routerLink="./track-income/{{ Account.AccountID }}">
      <button class="account-button">{{ Account.AccountID }}  {{ Account.TotalBalance }}</button>
    </a>
  </div>
</fieldset>

</ng-template>

<ng-template #notAccountsBlock>
  <p>No accounts yet</p>
</ng-template>



<h2>User Login Information:</h2>
<ul *ngIf="auth.user$ | async as user">
    <li>
        User ID: {{UserLoginInfo.userID}}
    </li>
    <li>
        Username: {{UserLoginInfo.userName}}
    </li>
    <li>
        User Email: {{UserLoginInfo.email}}
    </li>
</ul>

<div class="center">
<button (click)="logout()">Log out</button>
</div>

<!--
  <div *ngFor(account in Accounts)></div>
<button class="account-button">{{placeholder}}</button>
-->
</div>
