<header>
  <span>
    <img class="toplogo" src="https://cdn.discordapp.com/attachments/938474742946598944/941734233435672616/MY_2_CENTS-removebg-preview.png" alt=" "></span>
  <div class="topPageBar">

      My2Cents

  </div>
</header>
<body>
  <nav class="topnav">
  <a (click)="nav('Dashboard')">Dashboard</a>
  <a id="user-profile" (click)="nav('My Profile')">My Profile</a>
  <a (click)="nav('Create Profile')">Create Profile</a>
  <a (click)="nav('Transfer Money Between My Account')">Transfer Money</a>
  <a (click)="nav('Add New Account')">Add New Account</a>
  <a (click)="logout()">Log out</a>
</nav>
  <div class="component">
    <div *ngIf="NavName=='Dashboard'">
      <div *ngIf="viewAccounts.length else notAccountsBlock">
        <fieldset>
          <legend>Checking</legend>
          <div *ngFor='let Account of checkingArray'>
            <a routerLink="./track-income/{{ Account.accountID }}">
              <button class="account-button">{{ Account.accountID }} {{ Account.totalBalance }}</button>
            </a>
          </div>
        </fieldset>
        <fieldset>
          <legend>Savings</legend>
          <div *ngFor='let Account of savingArray'>
            <a routerLink="./track-income/{{ Account.accountID }}">
              <button class="account-button">{{ Account.accountID }} {{ Account.totalBalance }}</button>
            </a>
          </div>
        </fieldset>
        <fieldset>
          <legend>Investment</legend>
          <div *ngFor='let Account of investmentArray'>
            <a routerLink="./track-income/{{ Account.accountID }}">
              <button class="account-button">{{ Account.accountID }} {{ Account.totalBalance }}</button>
            </a>
          </div>
        </fieldset>
      </div>
    </div>

    <ng-template #notAccountsBlock>
      <h1>No accounts yet</h1>
    </ng-template>

    <div *ngIf="NavName=='My Profile'">
      <div *ngIf="auth.user$ | async as user">
        <app-user-profile [UserLoginInfo]=UserLoginInfo></app-user-profile>
      </div>
    </div>

    <div *ngIf="NavName=='Transfer Money Between My Account'">
      <div *ngIf="auth.user$ | async as user">
        <app-transfer-money [account]=viewAccounts></app-transfer-money>
      </div>
    </div>

    <div *ngIf="NavName=='Add New Account'">
      <app-register></app-register>
    </div>

    <div *ngIf="NavName=='Create Profile'">
      <div *ngIf="auth.user$ | async as user">
        <app-create-profile></app-create-profile>
      </div>
    </div>

  </div>
</body>
