*, *:before, *:after {
    box-sizing: border-box;
    font-size: .7rem;
  }

  body {  
    width:100vw;
    height:100vh;
    margin: 0px;
  }

.container-1{
    border: 0.25rem solid rgb(253, 181, 21);
    display: flex;
    background: radial-gradient(#e9f1f7, #c2c3d3, #9a9aa8);
    border-radius: 1rem;
    justify-content: center;
}

.container-1 div{
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}


.box-1{
    flex: 1;
    border: 0.25rem solid rgb(253, 181, 21);
    padding-top: 1rem;
    text-align: center;
    flex-shrink: 1;
    min-height: 0;
    min-width: 0;
    overflow:hidden; 

}

.box-2{
    border: 0.25rem solid rgb(253, 181, 21);
    flex: 1;
    padding-top: 5rem;
    flex-shrink: 1;
    min-height: 0;
    min-width: 0;
    overflow:hidden; 
}


.box-1 img{
    max-width: 60%;
    height: auto;
}

.box-2 input{

    width: 11.5rem;
    height: 2.75rem; 
    font-size: 150%; 
    
}

.container-2{
    border: 0.25rem solid rgb(253, 181, 21);
    display: flex;
    background: radial-gradient(#e9f1f7, #c2c3d3, #9a9aa8);
    align-items: center;
    flex-direction: row;
    border-radius: 1rem;
    justify-content: center;
    flex-direction: column;
}

.container-2 div{
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}


.box-3{
    flex: 1;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    flex-shrink: 1;
    min-height: 0;
    min-width: 0; 
}

.box-4{
    flex: 1;
    flex-shrink: 1;
    min-height: 0;
    min-width: 0;
    flex-wrap: wrap;
    font-size: 5vw;
    text-align: center;
    max-width: 75%;
}

.chart{
    width: 35vw;
    height: 35vw;
    justify-content: center;
}

.textbox {
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    font-size: 1rem;
    padding: 1rem;

}

@media screen and (min-width: 600px) {
    .container-2{
      flex-direction: row;
    }  
    
  
    * {
        font-size: 1rem;
      }
    }
  