<div class="container-1">
    <div class="box-1">
        <img src="https://media.discordapp.net/attachments/937791410889981983/938171320074661888/Logo.png">
        <h2>Budget Calculator</h2>
    </div>
    <div class="box-2">
        <form [formGroup]="budgetFormGroup">
            <div>
                <label class="form-label">Income</label>
                <div>
                    <input type="number" style="height: 1.5rem;" class="form-control" [(ngModel)]="userIncome" formControlName="income">
                </div>
            </div>
            <div>
                <label id="label" class="form-label">Expenses</label>
                <div>
                    <input  type="number" style="height: 1.5rem;" class="form-control" [(ngModel)]="userExpenses" formControlName="expenses">
                </div>
            </div>
            <div style="padding-top: 1rem;">
                <button type="submit" class="btn btn-primary" (click)="onClick(budgetFormGroup)">SUBMIT</button>
            </div>
        </form>
    </div>
</div>

<div class="container-2">
    <div class="box-3">
        <h1>Content 3</h1>
    </div>
    <div class="box-4">
        <h1>Content 4</h1>
    </div>
</div>


