<div>
    <h1>Order history</h1>
    <div class="table">
        <div class="cryptoTable">
            <h2>Crypto</h2>
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>Amount Invested</th>
                        <th>Date</th>
                        <th>Shares</th>
                        <th>Transaction Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bitcoin</td>
                        <td>$10000.00</td>
                        <td>December.19.2021</td>
                        <td>60</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <td>Ethereum</td>
                        <td>$6000.00</td>
                        <td>November.19.2021</td>
                        <td>60</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <td>Dogecoin</td>
                        <td>$3420.00</td>
                        <td>October.19.2021</td>
                        <td>1670</td>
                        <td>Sell</td>
                    </tr>
                    <tr>
                        <td>Shiba Inu</td>
                        <td>$4500.00</td>
                        <td>May.19.2021</td>
                        <td>330,000,000.00</td>
                        <td>Buy</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Stock</h2>
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>Amount Invested</th>
                        <th>Date</th>
                        <th>Shares</th>
                        <th>Transaction Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Google</td>
                        <td>$1000.00</td>
                        <td>December.19.2021</td>
                        <td>50</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td>$1200.00</td>
                        <td>November.19.2021</td>
                        <td>31</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <td>Meta</td>
                        <td>$3000.00</td>
                        <td>October.19.2021</td>
                        <td>11</td>
                        <td>Sell</td>
                    </tr>
                    <tr>
                        <td>Amazon</td>
                        <td>$4500.00</td>
                        <td>May.19.2021</td>
                        <td>5</td>
                        <td>Buy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>