<label for="account">From Account:</label>
<select class="dropdown" #fromAccount>
    <div *ngFor="let accinfo of account">
        <option value=accinfo.AccountID>Account {{accinfo.AccountID}}</option>
    </div>
</select>
<br>
<label for="account">To Account:</label>
<select class="dropdown" #toAccount>
    <div *ngFor="let accinfo of account">
        <option value=accinfo.AccountID>Account {{accinfo.AccountID}}</option>
    </div>
</select>
<br>

$<input type="number" min="0.01" step="0.01" #quantity>

<button (click)="CheckFunds(+fromAccount.value, +toAccount.value, +quantity.value)">Transfer Funds</button>
