<body>
  <div>
    <fieldset>
      <legend>
        <h2>Personal Info</h2>
      </legend>
      <form action="/" method="post">
        <table>
          <tr>
            <td><label for="fname">First Name:</label></td>
            <td><input type="text" id="fname" name="fname" required [(ngModel)]="inputData.FirstName" /></td>
          </tr>
          <tr>
            <td><label for="lname">Last Name:</label></td>
            <td><input type="text" id="lname" name="lname" required [(ngModel)]="inputData.LastName" /></td>
          </tr>
          <tr>
            <td><label for="streetAddressPersonal">Street Address:</label></td>
            <td><input type="text" id="streetAddressPersonal" name="streetAddressPersonal" required
                [(ngModel)]="inputData.MailingAddress" /></td>
          </tr>
          <tr>
            <td><label for="cityPersonal">City:</label></td>
            <td><input type="text" id="cityPersonal" name="cityPersonal" required [(ngModel)]="inputData.City" /></td>
          </tr>
          <tr>
            <td><label for="statePersonal">State:</label></td>
            <td><input type="text" id="statePersonal" name="statePersonal" required [(ngModel)]="inputData.State" />
            </td>
          </tr>
          <tr>
            <td><label for="phonePersonal">Phone:</label></td>
            <td> <input type="text" id="phonePersonal" name="phonePersonal" required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" [(ngModel)]="inputData.Phone"
                required /></td>
          </tr>
        </table>
      </form>
    </fieldset>
    <fieldset>
      <legend>
        <h2>Work Info</h2>
      </legend>
      <form action="/" method="post">
        <table>
          <tr>
            <td><label for="employerName">Employer Name:</label></td>
            <td><input type="text" id="employerName" name="employerName" [(ngModel)]="inputData.Employer" /></td>
          </tr>
          <tr>
            <td><label for="addressWork">Work Address:</label></td>
            <td><input type="text" id="addressWork" name="addressWork" [(ngModel)]="inputData.WorkAddress" /></td>
          </tr>
          <tr>
            <td><label for="phoneWork">Phone:</label></td>
            <td> <input type="text" id="WorkPhone" name="WorkPhone" [(ngModel)]="inputData.WorkPhone"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" />
            </td>
          </tr>
          <tr>
            <td><label for="workEmail">Work Email:</label></td>
            <td><input type="text" id="workEmail" name="workEmail" [(ngModel)]="inputData.SecondaryEmail" /></td>
          </tr>
        </table>
      </form>
    </fieldset>
  </div>

  <button type="button" (click)="clickme(inputData)" [disabled]="bdisable==='true'">Create</button>
  <h2>{{display}}</h2>

</body>