.imagediv {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    color: rgb(0, 0, 0);
    display: block;
    padding: 0%;
    border-radius: px;
    display: flex;
    justify-content: center;
  }

  .image {
    margin-right: 100px;
  }

  .button {
    display: flex;
    position: absolute;
    margin-top: 450px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    background: radial-gradient(circle,rgb(234, 215, 158) 10%,rgb(248, 220, 135) 30%,rgb(223, 178, 38));
    border-radius: 6px;
    padding: .75em 1.25em;
    font-weight: 550;
    font-size:medium;
    letter-spacing: .05em;
  }
  
  .button:hover {
    background: #dfb226ff;
    border: black solid .16em;
    
  }
  
  .button:active {
    background: radial-gradient(circle, rgb(156, 142, 80) 10%, rgb(163, 139, 73), rgb(114, 99, 35));
    transform: translateY(4px);
  }

  .text {
    padding-right: 300px;
    padding-top: 250px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .textdiv {
    display: flex;
    justify-content: right;   
  }