<div style="border: 0.1rem solid black">
    <h4>50 - 30 - 20 Rule</h4><br>
    <p>This budget calculator is based on the 50 - 30 - 20 rule of thumb.</p>
    <p>Essentially, this rule breaks your income down into percentages that represent a category</p>
    <p>Your Needs are equal to 50% percent of your total income.</p>
    <p>Needs qualify as things you cannot live without like groceries, mortgage, insurance,</p>
    <P>While your Wants are equal to 30 percent of your income and would be eating out,</P>
    <p>hobbies, vaction, or shopping</p>
    <p>Finally, Savings is equal to 20 percent so your 401K, mutual funds, index funds</p>
    <p>or however you chose to save your money</p>
</div>



<div style="border: 0.1rem solid black">
    <h4>Your Budget Break Down</h4><br>
    <p>Your Income {{income}}</p>
    <p>Your Expenses {{expenses}}</p>
    <P>Your Wants {{wants}}</P>
    <p>Your Savings {{savings}}</p>
    <p>Your Needs are at {{expensesPercentage}} percent so your looking good there.</p>
    <p>Your Wants are at {{wantsPercentage}} percent so your budget is in tune</p>
    <p>Your Savings is at {{savingsPercentage}} percent so your budget is perfectly inline with the 50 - 30 - 20 Rule
    </p>
</div>