<div class="textbox">
    <div class="shadow">
        <div style="margin-bottom: 1rem; padding: 2rem;">
            <h3>The 50 - 30 - 20 Budgeting Rule</h3><br>
            <p>This budget calculator is based on the 50 - 30 - 20 rule of thumb.</p>
            <p>Essentially, this rule breaks down your income into percentages that represent categories.</p>
            <p>Your Needs are equal to 50% percent of your total income.</p>
            <p>Needs qualify as things you cannot live without like: groceries, mortgage, insurance.</p>
            <p>Your Wants are equal to 30 percent of your income and would be eating out,
            hobbies, vacation, or shopping.</p>
            <p >Finally, Savings is equal to 20 percent of your income and represents items such as your
            401K, mutual funds, index funds, or other related holdings.</p>
        </div>
    </div>
</div>
<div class="textbox">
    <div class="shadow">
        <div style="margin-bottom: 1rem; padding: 2rem;">
            <div>
            <h3>Your Personalized Budget Break Down</h3><br>
            </div>
            <div class="budget-table">
                <table>
                    <tr>
                        <th>Budget Category</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>Income</td>
                        <td style="text-align: right;">${{income}}</td>
                    </tr>
                    <tr>
                        <td>Expenses</td>
                        <td style="text-align: right;">${{expenses}}</td>
                    </tr>
                    <tr>
                        <td>Wants</td>
                        <td style="text-align: right;">${{wants}}</td>
                    </tr>
                    <tr>
                        <td>Savings</td>
                        <td style="text-align: right;">${{savings}}</td>
                    </tr>     
                </table>
            </div>
            <div>
                <p>Your Needs are at {{expensesPercentage}} percent, so you are looking good there.</p>
                <p>Your Wants are at {{wantsPercentage}} percent, so your budget is in tune.</p>
                <p >Your Savings is at {{savingsPercentage}} percent, so your budget is perfectly in-line with the 50 - 30 - 20 Rule.
                </p>
            </div>
        </div>
    </div>
</div>
