<header>
  <span>
    <img class="toplogo" src="https://cdn.discordapp.com/attachments/938474742946598944/941734233435672616/MY_2_CENTS-removebg-preview.png" alt=" "></span>
  <div class="topPageBar">

      My2Cents

  </div>
</header>
<nav  class="topnav">
  <a id="home" routerLink="/dashboard">Home</a>
  <a id="user-profile" routerLink="/user-profile">My Profile</a>
  <a routerLink="/transfer-money">Transfer Money</a>
  <a href="">Add New Account</a>
  <a (click)="logout()">Log out</a>
</nav>

<router-outlet></router-outlet>

